<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
      
       
        
    </head>
    <body>
        <div class="card">

            <div class="top_card">
                <h1>Registration For Your Required Semester Final</h1>
            </div>
            <div class="below_card" style="text-align:center">
                {% if msg %}
                <p style="color:rgb(241, 14, 14); background-color: rgb(224, 129, 129);height:30px;padding-top:10px; text-align:center;">{{msg}}</p>
                
                {% endif %}

                <h3 style="text-align:center">Give Your information*</h3>                <form role="form" action="{% url 'regicomplete' %}" method="post" enctype="multipart/form-data">

                  {% csrf_token %}
                  <label>Department name:</label><br>
                  <input class="iut" type="text" name="dept_name" maxlength="150"><br><br>
                  <label>Hall name:</label><br>
                  <input class="iut" type="text" name="hall_name" maxlength="150"><br><br>
                  <label>Registration No. :</label><br>
                  <input type="text" name="regi_no" maxlength="16"><br><br>
                  <label>Phone NUmber:</label><br>
                  <input type="text" name="phn_nmbr" maxlength="30"><br><br>
                  <label>Semester no:</label><br>
                  <input type="number" id="quantity" name="semester_no" min="1" max="10"><br><br> 
                  <label>bank receipt no.:</label><br>
                  <input type="text" name="bank_receipt" maxlength="30"><br><br>
    
                  <label>Bank receipt image:</label><br>
                  <input type="file" name="bank_receipt_image"><br><br> 
                 

                    <br>
                    <button style=" background-color: rgb(172, 5, 102); border:none; height: 30px;  color:aliceblue; width: 70px;">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>

