<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .f
        {
            margin: auto;
           
            padding: 10px;
            background-color: red;
        }
        .container
        {background-color:  rgb(107, 147, 223);
            color: white;
            padding: 95px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin:50px;
            border: solid 3px rgb(107, 147, 223);;
            border-radius: 5px;
            
        }
    </style>
</head>
<body>
   <div >
    <div class="container">
        <p>this is one</p>
    </div>
    <div class="container">
        <p>this is one</p>
    </div>
    <div class="container">
        <p>this is one</p>
    </div>
    
   </div>
       
   
</body>
</html>